<nav>
    <div class="logo">
        <img src="img/iconoweb.png" alt="logo">
        <p>Geekshubs <br>
            Travels </p>
    </div>
    <ul class="menuDesktop">
        <a href="#destinos">
            <li>Destinos </li>
        </a>
        <a href="#quienesSomos">
            <li>Quién somos </li>
        </a>
        <a href="#dondeEstamos">
            <li>Donde estamos</li>
        </a>
        <a href="/register">
            <li>Regístrate</li>
        </a>
        <a href="/login">
            <li>Logéate</li>
        </a>
    </ul>
    <div class="socialDesktop">
        <a href="https://twitter.com/geeks_academy" target="_blank"><img src="img/tt-ico.png" alt="Twitter"></a>
        <a href="#"> <img src="img/ws-ico.png" alt="WhatsApp"></a>
        <a href="https://www.facebook.com/geekshubsacademy/" target="_blank"><img src="img/fb-ico.png"
                alt="Facebook"></a>
        <a href="https://www.instagram.com/geekshubs/" target="_blank"><img src="img/Instagram.png" alt="Instagram"></a>
        <a href="https://www.linkedin.com/school/geekshubsacademy/" target="_blank"><img src="img/linkedIn.png"
                alt="linkedIn"></a>
        <a href="https://www.youtube.com/user/geekshubs" target="_blank"> <img src="img/YT.png" alt="Youtube"></a>
    </div>
    <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        <img class="menuIcon" src="./img/menuIcon.png" />
    </a>
    <div class="collapse" id="collapseExample">
        <div class="menuMobile">
            <ul>
                <a href="#destinos">
                    <li>Destinos </li>
                </a>
                <a href="#quienesSomos">
                    <li>Quién somos </li>
                </a>
                <a href="#dondeEstamos">
                    <li>Donde estamos</li>
                </a>
                <a href="#registrate">
                    <li>Regístrate</li>
                </a>
                <a href="#login">
                    <li>Logéate</li>
                </a>
            </ul>
            <div class="socialMobile">
                <a href="https://twitter.com/geeks_academy" target="_blank"><img src="img/tt-ico.png" alt="Twitter"></a>
                <a href="#"> <img src="img/ws-ico.png" alt="WhatsApp"></a>
                <a href="https://www.facebook.com/geekshubsacademy/" target="_blank"><img src="img/fb-ico.png"
                        alt="Facebook"></a>
                <a href="https://www.instagram.com/geekshubs/" target="_blank"><img src="img/Instagram.png"
                        alt="Instagram"></a>
                <a href="https://www.linkedin.com/school/geekshubsacademy/" target="_blank"><img src="img/linkedIn.png"
                        alt="linkedIn"></a>
                <a href="https://www.youtube.com/user/geekshubs" target="_blank"> <img src="img/YT.png"
                        alt="Youtube"></a>
            </div>
        </div>
    </div>
</nav>