<nav>
    <div class="logo">
        <img src="img/iconoweb.png" alt="logo">
        <p>Geekshubs <br>
            Travels </p>
    </div>
    <ul>
        <a href="#destinos">
            <li>Destinos </li>
        </a>
        <a href="#quienesSomos">
            <li>Quién somos </li>
        </a>
        <a href="#dondeEstamos">
            <li>Donde estamos</li>
        </a>
        <a href="#registrate">
            <li>Regístrate</li>
        </a>
    </ul>
    <div class="socialMedia">
        <a href="https://twitter.com/geeks_academy" target="_blank"><img src="img/tt-ico.png" alt="Twitter"></a>
        <a href="#"> <img src="img/ws-ico.png" alt="WhatsApp"></a>
        <a href="https://www.facebook.com/geekshubsacademy/" target="_blank"><img src="img/fb-ico.png"
                alt="Facebook"></a>
        <a href="https://www.instagram.com/geekshubs/" target="_blank"><img src="img/Instagram.png" alt="Instagram"></a>
        <a href="https://www.linkedin.com/school/geekshubsacademy/" target="_blank"><img src="img/linkedIn.png"
                alt="linkedIn"></a>
        <a href="https://www.youtube.com/user/geekshubs" target="_blank"> <img src="img/YT.png" alt="Youtube"></a>
    </div>
    <div class="mobile">
        <a href="https://twitter.com/geeks_academy" target="_blank"><img src="img/tt-ico.png" alt="Twitter"></a>
        <a href="#"> <img src="img/ws-ico.png" alt="WhatsApp"></a>
        <a href="https://www.facebook.com/geekshubsacademy/" target="_blank"><img src="img/fb-ico.png"
                alt="Facebook"></a>
        <a href="https://www.instagram.com/geekshubs/" target="_blank"><img src="img/Instagram.png" alt="Instagram"></a>
        <a href="https://www.linkedin.com/school/geekshubsacademy/" target="_blank"><img src="img/linkedIn.png"
                alt="linkedIn"></a>
        <a href="https://www.youtube.com/user/geekshubs" target="_blank"> <img src="img/YT.png" alt="Youtube"></a>
    </div>
</nav>