<header>
    <h1>Viaja!</h1>
    <p>Descubre lugares maravillosos!</p>
    <button>Ver destinos</button>
</header>


<section class="destinos" id="destinos">

    <div>
        <div class="a">
            <p>Save 90$ pay only</p>
            <h3>795$</h3>
        </div><br> Beijing
    </div>
    <div>
        <div class="b">
            <p>Save 87$ pay only</p>
            <h3>695$</h3>
        </div><br> Buenos Aires
    </div>
    <div>
        <div class="c">
            <p>Save 99$ pay only</p>
            <h3>755$</h3>
        </div><br> Ciudad de Mejico
    </div>
    <br></br>
    <div>
        <div class="d">
            <p>Save 200$ pay only</p>
            <h3>102$</h3>
        </div><br>Madrid
    </div>
    <div>
        <div class="e">
            <p>Save 300$ pay only</p>
            <h3>999$</h3>
        </div><br> New York
    </div>
    <div>
        <div class="f">
            <p>Save 375$ pay only</p>
            <h3>999$</h3>
        </div><br> Tokyo
    </div>
</section>

<section>

    <div class='qSomos' id="quienesSomos">
        <div class='quien'>
            <h1>QUIEN SOMOS</h1>
            <hr><br>
            <p>Greekshubs Travels es una agencia de viajes online creada en 2009 por un equipo de viajeros
                entusiastas que deciden hacer de su pasión por conocer el mundo un modo de vida. Desde nuestros
                inicios hemos diseñado mas de 500 viajes organizados a diferentes destinos de Europa, Norteamérica y
                asia nuestros objetivo ahora es ir ampliando horizontes poco a poco. </p>
            <div class='butto'><button>DESCUBRIR</button><br></div>
        </div>
    </div>
</section>

<section class="contact" id="dondeEstamos">
    <img src="./img/mapa.jpg" alt="mapa">
    <div class="contactForm">
        <p>
            E:enquiry@geekshubstravels.com
            <br>
            P:0264 123 4567
            <br><br>
            Give us a call or drop by anytime,
            we endeavour to answer all enquiries
            within 24 hours on business days.
            <br><br>
            We are open from 8:30 AM - 4:00PM week days.</p>
        <br>
        <a class="barraAzul">
            <br>
            <br>
            <form>

                <input class="input" type="text" placeholder="Name*">
                <input type="email" placeholder="Email*">
                <br>
                <input type="number" placeholder="Phone">
                <input class="input" type="text" placeholder="Country">
                <br>
                <textarea id="" cols="83" rows="8" placeholder="Message"></textarea>
                <div class="fieldsWarning">*PLEASE COMPLETE ALL THE FIELDS CORRECTLY</div>
                <button>Enviar mensaje</button>
            </form>
        </a>
    </div>
</section>