
<h1>RECOVERY</h1>

<form action="/recovery"
    method="post">

    <input type="email"

        name="email"
        value="{{email}}"
        placeholder="email">
    <input type="submit"
        value="recover!">
</form>


<div class="feedback">

    {{#if error}}
    <div class="error">
        {{error}}
    </div>
    {{/if}}


    {{#if message}}
    <div class="message">
        {{message}}
    </div>
    {{/if}}
</div>