<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/reset.css" />
    <link rel="stylesheet" href="./styles/bootstrap.css" />
    <link rel="stylesheet" href="./styles/JoseAntonioCSS.css" />
    <link rel="stylesheet" href="./styles/JanCSS.css" />
    <link rel="stylesheet" href="./styles/DavidCSS.css" />
    <link rel="stylesheet" href="./components/normalize.css/normalize.css" />
    <title>Actividad_1</title>
</head>

<body>
    <!-- aqui va el nav -->
    {{> nav}}

    {{{body}}}

    {{> footer}}
    <!-- aqui va el footer -->

</body>

</html>