<div class="airp">
    <div class="square">
        <H1>SUBE TU FOTO DE PERFIL</H1>

        <form action="/nuevoGato" method="POST" enctype="multipart/form-data">

            <input type="file" required name='file'>
            <input type="submit">

        </form>


        <h3>{{message}}</h3>
    </div>
</div>